<div class="mb-5">
    <mat-toolbar style="background-color: #AF9832;">
      <img src="/assets/funai.png" alt="Logo Funai" width="4.5%" style="padding: 10px 10px">
      <span>Coordenação Regional Nordeste II</span>
      <span class="example-spacer"></span>
      <button style="background-color: #AF9832;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button style="background-color: #AF9832;" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</div>